@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="ico"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icoquill:before {
	content: "\e600";
}
.icomusic:before {
	content: "\e601";
}
.icoconnection:before {
	content: "\e602";
}
.icolastfm:before {
	content: "\e603";
}
.icohome:before {
	content: "\e604";
}
.icobook:before {
	content: "\e605";
}
.icotwitter:before {
	content: "\e606";
	font-family: 'icons';
}
.icowi-fi:before {
	content: "\e607";
}
.icotick:before {
	content: "\e608";
}
.icotimes:before {
	content: "\e609";
}
.icochart-bar:before {
	content: "\e60a";
}
.icoinfo-large:before {
	content: "\e60b";
}
.icosocial-last-fm:before {
	content: "\e60c";
}
.icosocial-skype:before {
	content: "\e60d";
}
.icosocial-twitter:before {
	content: "\e60e";
}
.icopin:before {
	content: "\e60f";
}
.icosort-numerically:before {
	content: "\e610";
}
.icosort-alphabetically:before {
	content: "\e611";
}
.icoinput-checked:before {
	content: "\e612";
}
