	/* Reset de estilos*/

	* {
       padding: 0; 
       margin: 0;
       border: 0;
       list-style:none;
       text-decoration:none;
	}

			/* Estilo fondo */

			.fondo{
				background-color: #FFF;
				background-repeat: no-repeat;
				overflow: hidden;
				position: absolute;
				z-index: -2;
				height: 100%;
				width: 100%;				
				}

			.transparencia{
				background-repeat: repeat;
				overflow: hidden;
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: -1;
				opacity: 0.3;
				}


			/* Menu Link */

			#menu{
				position: absolute;
				width: 350px;
				top:200px;
			}

			#menu ul li{
				top: 200px;
				background-color: #639bb3;
				width: 350px;
				height: 50px;
				margin-top: 10px;
				font-size: 18px;
				font-family: 'Neuton', serif;
				padding-bottom: 10px;
				border-radius: 0px 10px 10px 0px;
				padding-left: 80px;
				box-shadow: 5px 0px 10px #000000;
				-webkit-transition:padding-left 0.8s;
			}

			#menu ul li:hover{
				padding: 10px;
				background-color: #FFFFFF;
			}

			/* Contenedor de todas las viñetas */


			/* Menu bio-blog-letra-contacto */

			.cont1{
				position: relative;
				background-color: #ce747e;
				width: 300px;
				height: 50px;
			}

			.cont2{
				position: relative;
				background-color: #fc3a52;
				width: 300px;
				height: 50px;
			}

			.cont3{
				position: relative;
				background-color: #e4b386;
				width: 300px;
				height: 50px;
			}

			.cont4{
				position: relative;
				background-color: #8ac328;
				width: 300px;
				height: 50px;
			}
		
			/*Titulo*/

			.title{
				position: absolute;
				top: 200px;
				right: 50px;
				float: right;
				min-height: 320px;
				font-family: 'Neuton', serif;
				font-size: 160px;
				z-index: 2;
				}

