
	/* Reset de estilos*/

	* {
       padding: 0; 
       margin: 0;
       border: 0;
       list-style:none;
       text-decoration:none;
       color: #000;
       overflow: hidden;
      }


			/* Estilo fondo */

			.fondo{
				background-color: #FFF;
				overflow: hidden;
				background-repeat: repeat-x;
				position: absolute;
				z-index: -2;
				height: 100%;
				width: 100%;				
				}

			.transparencia{
				background-repeat: repeat;
				overflow: hidden;
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: -1;
				opacity: 0.3;
				}


			/* Menu Links */

			#menu{
				position: absolute;
				top:240px;
				left: 0px;
				padding: 0px 30px 30px 0px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: 'Neuton', serif;
				line-height: 30px;
			}

			#menu ul li{
				top: 200px;
				width: 300px;
				height: 35px;
				padding-left: 50px;			
				background-color: #111111;
				color: #fa6900;
				-webkit-transition:padding-left .9s;
				-ms-transition:padding-left .9s;
				-moz-transition:padding-left .9s;
			}

			#menu ul li:hover{
				padding: 3px;
				background-color: #fa6900;
				color: #000;
			}


			/* Titulo */

			.title{
				position: absolute;
				top: 200px;
				right: 50px;
				float: right;
				font-family: 'Neuton', serif;
				font-size: 160px;
				z-index: -1;
				}

			.littletitle{
				position: absolute;
				top: 350px;
				right: 50px;
				float: right;
				min-height: 320px;
				font-family: 'Neuton', serif;
				font-size: 22px;
				z-index: -1;
			}

			/* Bio */

			.bio{
				position: absolute;
				top:350px;
				text-align: justify;
				background-color: #000;
				color: #fa6900;
				padding: 15px;
				left: 0px;
				font-family: "Calibri", sans-serif;
			}

			/* Letras */

			.letras{
				position: absolute;
				top:0px;
				margin-top: 80px;
				width: 350px;
				text-align: justify;
				background-color: #fa6900;
				padding: 15px;
				font-family: "calibri", sans-serif;
			}

			/* Menu social*/

			#menu2{
				position: absolute;
				top: 0px;
				left: 0px;
				padding: 0px 30px 30px 0px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: 'calibri', serif;
				font-size: 12px;
				line-height: 30px;
			}

			#menu2 ul li{
				display: inline;
				float: left;
				top: 200px;
				width: 200px;
				height: 35px;
				background-color: #111111;
				color: #fa6900;
				-webkit-transition:padding-top .6s;
				-ms-transition:padding-top .6s;
				-moz-transition:padding-top .6s;
			}

			#menu2 ul li:hover{
				padding: 5px;
				background-color: #fa6900;
				color: #000;
			}


		/* Boton home */

			.bothome{
				float: left;
				bottom: 50px;
				padding: 10px;
				padding-top: 40px;
				background-color: #fa6900;
				font-family: 'Calibri', serif;
				font-size: 12px;
			}


/* Min res */

@media screen and (min-width: 959px){
	      .header {
	      	width: 320px;
	      	height: 20%;
	      }
	    }

@media screen and(max-width: 320px){
			.header{
			width: 320px;
			height: 20%;
			}
		}
