
	/* Reset de estilos*/

	* {
       padding: 0; 
       margin: 0;
       border: 0;
       list-style:none;
       text-decoration:none;
       color: #000;
      }


			/* Estilo fondo */

			.fondo{
				background-color: #FFF;
				background-repeat: repeat-y;
				position: absolute;
				z-index: -2;
				height: 100%;
				width: 100%;				
				}

			.transparencia{
				background-repeat: repeat;
				overflow: hidden;
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: -1;
				opacity: 0.3;
				}


			/* Menu Link */

			#menu{
				position: absolute;
				top:240px;
				left: 0px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: 'Neuton', serif;
			}

			#menu ul li{
				top: 200px;
				width: 300px;
				height: 35px;
				margin-top: 3px;
				padding-top: 3px;
				padding-bottom: 5px;
				padding-left: 50px;			
				background-color: #111111;
				color: #fa6900;
				border-radius: 0px 10px 10px 0px;
				box-shadow: 5px 0px 10px #000000;
				-webkit-transition:padding-left .9s;
				-ms-transition:padding-left .9s;
				-moz-transition:padding-left .9s;
			}

			#menu ul li:hover{
				padding: 3px;
				background-color: #000;
			}


			/* Titulo */

			.title{
				position: absolute;
				top: 200px;
				right: 50px;
				float: right;
				min-height: 320px;
				font-family: 'Neuton', serif;
				font-size: 160px;
				z-index: 2;
				}

			.littletitle{
				position: absolute;
				top: 350px;
				right: 50px;
				float: right;
				min-height: 320px;
				font-family: 'Neuton', serif;
				font-size: 22px;
				z-index: 2;
			}

			.littletitle1{
				position: absolute;
				top: 420px;
				right: 50px;
				float: right;
				min-height: 320px;
				font-family: 'Neuton', serif;
				font-size: 22px;
				z-index: 3;

			}

			/* Bio */

			.bio{
				position: absolute;
				top:350px;
				text-align: justify;
				background-color: #000;
				color: #fa6900;
				padding: 15px;
				left: 0px;
				font-family: "Calibri", sans-serif;
			}

			/* Letras */

			.letras{
				position: absolute;
				top:0px;
				margin-top: 80px;
				width: 350px;
				text-align: justify;
				background-color: #fa6900;
				padding: 15px;
				font-family: "calibri", sans-serif;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;

			}


		/* Boton home */

			.bothome{
				float: left;
				bottom: 50px;
				padding: 10px;
				padding-top: 40px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				background-color: #fa6900;
				font-family: 'Calibri', serif;
				font-size: 12px;
			}


			/* footer */

			.footer{
				bottom: 0px;
				padding: 15px;
				background-color: #fa6900;
				font-family: 'Calibri', serif;
				font-size: 12px;
				border-bottom-right-radius: 10px;
			}

			.color{
				width: 1px;
				bottom:0px;
				padding: 15px;
				background-color: #000;
				z-index: 4;
			}

/* Min res */

@media screen and (max-width:320px){
			 img {
 			max-width:200px;
 			}
	
 #container{
 			width:auto;
			 } 

		.header h1 a{
 			width:auto;
 			height:52px;
 			background:url(image-small.jpg) no-repeat 50% 0;
 			}
		}

/* Max res*/

@media screen and (min-width:1200px){
 			img {
 			max-width:1000px;
 		}

 #container{
 			width:1100px;
		 }  

 		.header h1 a{
 			width:1100px;
 			height:180px;
 			background:url(image.jpg) no-repeat 0 0;
 		}                          

}